.top-links {
  text-align: center;
  padding: 16px 0;

  a {
    text-decoration: none;
    color: #0099ff;
    margin-left: 32px;

    &.active {
      color: black;
      cursor: default;
    }
  }
}

.c-dashboard {
  margin: 8px 16px;

  .c-dashboard__header {
    display: flex;
    justify-content: center;
  }

  .c-dashboard__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.c-filters__container {
  margin: 0 0 8px;
  padding: 16px 8px;
  border: 1px solid #dcdee3;
  background-color: #e5e9f1;
  text-align: center;
}

.c-chart__container {
  height: 350px;
  width: 760px;
}

.c-button {
  height: 40px;
  background-color: #0099ff;
  color: white;
  min-width: 120px;
  padding: 0 16px;
  border-radius: 4px;
}


.c-employees_filter_container {
  text-align: center;
  padding: 20px;
}

.c-btn-pri {
  background-color: $primary;
  color: white;
  padding: .4rem .5rem;
  border-radius: 3px;
  font-size: 1rem;
}

.highlightedText {
  background: yellow;
  text-emphasis-color: yellow;
} 
